@page "/"

<div class="column-layout kanban-view-container">
    <div class="row-layout group">
        <div class="column-layout group_1">
            <div class="row-layout group_2">
                <div class="row-layout group_3">
                    <span class="material-icons icon">
                        assignment
                    </span>
                    <h6 class="h6">
                        To do
                    </h6>
                </div>
                <IgbAvatar Initials="3" Shape="AvatarShape.Circle" class="avatar" kanban-view-scope></IgbAvatar>
            </div>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar2.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        Create brand guidelines
                    </h3>
                    <h5 slot="subtitle">
                        Deadline: Nov 19, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardMedia>
                    <img src="assets/BrandGuidelines.png" />
                </IgbCardMedia>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        COMPLETE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_1" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_2" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_3" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar6.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        App Preview
                    </h3>
                    <h5 slot="subtitle">
                        Deadline: Nov 24, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardMedia>
                    <img src="assets/AppPreview.png" />
                </IgbCardMedia>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        COMPLETE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_4" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_5" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_6" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar9.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        Cloud Integration
                    </h3>
                    <h5 slot="subtitle">
                        Deadline: Nov 28, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        COMPLETE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_7" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_8" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_9" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
        </div>
        <div class="column-layout group_1">
            <div class="row-layout group_4">
                <div class="row-layout group_3">
                    <span class="material-icons icon">
                        developer_board
                    </span>
                    <h6 class="h6">
                        In Development
                    </h6>
                </div>
                <IgbAvatar Initials="5" Shape="AvatarShape.Circle" class="avatar" kanban-view-scope></IgbAvatar>
            </div>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar6.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        Connect to DataSources
                    </h3>
                    <h5 slot="subtitle">
                        Deadline: Oct 28, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        COMPLETE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_10" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_11" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_12" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar3.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        Build App
                    </h3>
                    <h5 slot="subtitle">
                        Deadline: Oct 28, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardMedia>
                    <img src="assets/BuildApp.png" />
                </IgbCardMedia>
                <IgbCardContent class="body-content" kanban-view-scope>
                    <p class="typography__body-1 text"></p>
                </IgbCardContent>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        COMPLETE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_13" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_14" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_15" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar5.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        Copy-Paste Update
                    </h3>
                    <h5 slot="subtitle">
                        Deadline: Oct 24, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        COMPLETE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_16" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_17" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_18" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar2.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        Grid Data-Binding 
                    </h3>
                    <h5 slot="subtitle">
                        Deadline: Oct 26, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        COMPLETE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_19" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_20" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_21" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar10.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        Main Dashboard Design
                    </h3>
                    <h5 slot="subtitle">
                        Deadline: Oct 20, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        COMPLETE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_22" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_23" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_24" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
        </div>
        <div class="column-layout group_5">
            <div class="row-layout group_6">
                <div class="row-layout group_3">
                    <span class="material-icons icon">
                        assignment_late
                    </span>
                    <h6 class="h6">
                        Validation
                    </h6>
                </div>
                <IgbAvatar Initials="4" Shape="AvatarShape.Circle" class="avatar" kanban-view-scope></IgbAvatar>
            </div>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar7.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        Update Samples
                    </h3>
                    <h5 slot="subtitle">
                        Deadline: Oct 15, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardMedia>
                    <img src="assets/Samples.png" />
                </IgbCardMedia>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        COMPLETE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_25" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_26" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_27" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar6.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        Floating Toolbar
                    </h3>
                    <h5 slot="subtitle">
                        Deadline: Oct 14, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        COMPLETE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_28" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_29" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_30" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar9.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        Input Update
                    </h3>
                    <h5 slot="subtitle">
                        Deadline: Oct 17, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardMedia>
                    <img src="assets/Inputs.png" />
                </IgbCardMedia>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        COMPLETE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_31" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_32" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_33" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar3.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        App Library
                    </h3>
                    <h5 slot="subtitle">
                        Deadline: Oct 16, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardMedia>
                    <img src="assets/AppLIbrary.png" />
                </IgbCardMedia>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        COMPLETE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_34" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_35" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_36" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
        </div>
        <div class="column-layout group_1">
            <div class="row-layout group_7">
                <div class="row-layout group_3">
                    <span class="material-icons icon">
                        check_circle
                    </span>
                    <h6 class="h6">
                        Done
                    </h6>
                </div>
                <IgbAvatar Initials="5" Shape="AvatarShape.Circle" class="avatar" kanban-view-scope></IgbAvatar>
            </div>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar8.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        Onboarding Experience
                    </h3>
                    <h5 slot="subtitle">
                        October 13, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        ARCHIVE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_37" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_38" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_39" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar2.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        Design Specs
                    </h3>
                    <h5 slot="subtitle">
                        October 9, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        ARCHIVE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_40" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_41" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_42" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar10.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        File Parser
                    </h3>
                    <h5 slot="subtitle">
                        October 10, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardMedia>
                    <img src="assets/SketchParser.png" />
                </IgbCardMedia>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        ARCHIVE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_43" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_44" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_45" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar2.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        Final Mockups
                    </h3>
                    <h5 slot="subtitle">
                        October 13, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        ARCHIVE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_46" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_47" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_48" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="true" class="card" kanban-view-scope>
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Src="assets/Avatar5.png" Shape="AvatarShape.Circle"></IgbAvatar>
                    </div>
                    <h3 slot="title">
                        GitHub Integration
                    </h3>
                    <h5 slot="subtitle">
                        September 30, 2021
                    </h5>
                </IgbCardHeader>
                <IgbCardMedia>
                    <img src="assets/Samples.png" />
                </IgbCardMedia>
                <IgbCardActions class="actions-content" kanban-view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="button" kanban-view-scope>
                        ARCHIVE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_49" kanban-view-scope>
                        <span class="material-icons">
                            attach_file
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_50" kanban-view-scope>
                        <span class="material-icons">
                            archive
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Flat" class="icon-button button_1_51" kanban-view-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
        </div>
    </div>
    <IgbButton Variant="ButtonVariant.Fab" class="button_1 button_1_52" kanban-view-scope>
        <span class="material-icons">
            add
        </span>
        <IgbRipple></IgbRipple>
    </IgbButton>
    <span class="new-task-dialog">Dialog not yet available in Blazor</span>
</div>

@code {
}
