@page "/list-view"

<div class="row-layout list-view-container">
    <div class="column-layout group">
        <div class="row-layout group_1">
            <div class="row-layout group_2">
                <span class="material-icons icon">
                    assignment
                </span>
                <h6 class="h6">
                    To do
                </h6>
            </div>
            <IgbAvatar Initials="3" Shape="AvatarShape.Circle" class="avatar" list-view-scope></IgbAvatar>
        </div>
        <IgbList class="list" list-view-scope>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar2.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">Create brand guidelines</div>
                <div slot="subtitle">Deadline: Nov 19, 2021</div>
                <div slot="end">
                    <span class="material-icons icon_1">
                        attach_file
                    </span>
                </div>
            </IgbListItem>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar6.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">App Preview</div>
                <div slot="subtitle">Deadline: Nov 24, 2021</div>
                <div slot="end">
                    <span class="material-icons icon_1">
                        attach_file
                    </span>
                </div>
            </IgbListItem>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar9.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">Cloud Integration</div>
                <div slot="subtitle">Deadline: Nov 28, 2021</div>
            </IgbListItem>
        </IgbList>
    </div>
    <div class="column-layout group">
        <div class="row-layout group_3">
            <div class="row-layout group_2">
                <span class="material-icons icon">
                    developer_board
                </span>
                <h6 class="h6">
                    In Development
                </h6>
            </div>
            <IgbAvatar Initials="5" Shape="AvatarShape.Circle" class="avatar" list-view-scope></IgbAvatar>
        </div>
        <IgbList class="list" list-view-scope>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar6.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">Connect to DataSources</div>
                <div slot="subtitle">Deadline: Oct 28, 2021</div>
            </IgbListItem>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar3.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">Build App</div>
                <div slot="subtitle">Deadline: Oct 28, 2021</div>
                <div slot="end">
                    <span class="material-icons icon_1">
                        attach_file
                    </span>
                </div>
            </IgbListItem>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar5.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">Copy-Paste Update</div>
                <div slot="subtitle">Deadline: Oct 24, 2021</div>
            </IgbListItem>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar2.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">Grid Data-Binding </div>
                <div slot="subtitle">Deadline: Oct 26, 2021</div>
            </IgbListItem>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar10.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">Main Dashboard Design</div>
                <div slot="subtitle">Deadline: Oct 20, 2021</div>
            </IgbListItem>
        </IgbList>
    </div>
    <div class="column-layout group">
        <div class="row-layout group_4">
            <div class="row-layout group_2">
                <span class="material-icons icon">
                    assignment_late
                </span>
                <h6 class="h6">
                    Validation
                </h6>
            </div>
            <IgbAvatar Initials="4" Shape="AvatarShape.Circle" class="avatar" list-view-scope></IgbAvatar>
        </div>
        <IgbList class="list" list-view-scope>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar7.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">Update Samples</div>
                <div slot="subtitle">Deadline: Oct 15, 2021</div>
                <div slot="end">
                    <span class="material-icons icon_1">
                        attach_file
                    </span>
                </div>
            </IgbListItem>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar6.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">Floating Toolbar</div>
                <div slot="subtitle">Deadline: Oct 14, 2021</div>
            </IgbListItem>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar9.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">Input Update</div>
                <div slot="subtitle">Deadline: Oct 17, 2021</div>
                <div slot="end">
                    <span class="material-icons icon_1">
                        attach_file
                    </span>
                </div>
            </IgbListItem>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar3.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">App Library</div>
                <div slot="subtitle">Deadline: Oct 16, 2021</div>
                <div slot="end">
                    <span class="material-icons icon_1">
                        attach_file
                    </span>
                </div>
            </IgbListItem>
        </IgbList>
    </div>
    <div class="column-layout group">
        <div class="row-layout group_5">
            <div class="row-layout group_2">
                <span class="material-icons icon">
                    check_circle
                </span>
                <h6 class="h6">
                    Done
                </h6>
            </div>
            <IgbAvatar Initials="5" Shape="AvatarShape.Circle" class="avatar" list-view-scope></IgbAvatar>
        </div>
        <IgbList class="list" list-view-scope>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar8.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">Onboarding Experience</div>
                <div slot="subtitle">October 13, 2021</div>
            </IgbListItem>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar2.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">Design Specs</div>
                <div slot="subtitle">October 9, 2021</div>
            </IgbListItem>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar10.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">File Parser</div>
                <div slot="subtitle">October 10, 2021</div>
                <div slot="end">
                    <span class="material-icons icon_1">
                        attach_file
                    </span>
                </div>
            </IgbListItem>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar2.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">Final Mockups</div>
                <div slot="subtitle">Deadline: Oct 14, 2021</div>
            </IgbListItem>
            <IgbListItem class="list-item" list-view-scope>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar5.png" Shape="AvatarShape.Circle"></IgbAvatar>
                </div>
                <div slot="title">GitHub Integration</div>
                <div slot="subtitle">September 30, 2021</div>
                <div slot="end">
                    <span class="material-icons icon_1">
                        attach_file
                    </span>
                </div>
            </IgbListItem>
        </IgbList>
    </div>
    <IgbButton Variant="ButtonVariant.Fab" class="button" list-view-scope>
        <span class="material-icons">
            add
        </span>
        <IgbRipple></IgbRipple>
    </IgbButton>
    <span class="new-task-dialog">Dialog not yet available in Blazor</span>
</div>

@code {
}
